.body {
justify-content: center;
gap: 10px;
background: #FFF;
}

.header {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 88px;
margin: auto;
}

.nav_menu {
box-sizing: border-box;
display: flex;
padding: 32px 0px;
justify-content: center;
align-items: center;
gap: 72px;
}

.nav_menu_list {
    text-decoration: none;
    }

.main {
display: flex;
flex-direction: column;
align-items: center;
box-sizing: border-box;
}


.img_div {
    box-sizing: border-box;
    display: flex;
width: 1400px;
height: 552px;
padding: 92px 400px 92px 401px;
justify-content: center;
align-items: center;
    gap: 10px;
    
}

.cont_div {
    box-sizing: border-box;
    display: flex;
    color: #000;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 135%;
    margin-top: 88px;
    
}


h2 {
align-self: stretch;
color: #000;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 135%;

}

.p_h{ 
    margin-top: 40px;
    margin-left: 260px;
    margin-right: 260px;
    color: #161616;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    box-sizing: border-box;
    display: flex;
        }


    .p_h_2 {
    margin-top: 24px;
    margin-left: 245px;
    margin-right: 260px;
    color: #161616;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    box-sizing: border-box;
    display: flex;
    }


    .but {
    box-sizing: border-box;
    align-items: center;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #04959E;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    margin-top: 40px;
    }

.hr {
    margin-top: 88px;
  
}
.footer {
margin-top: 20px;
box-sizing: border-box;
display: flex;
flex-direction: column;
align-items: center;

}